# OpenOCD configuration for STM32F103C8T6
#
# 当前使用 CMSIS-DAP (SWD)。切换调试器只需改 interface + transport 两行：
#   ST-Link    : source [find interface/stlink.cfg]    + transport select hla_swd
#   CMSIS-DAP  : source [find interface/cmsis-dap.cfg]  + transport select swd
#   J-Link     : source [find interface/jlink.cfg]      + transport select swd

# ----- Debug adapter -----
# 切换调试器只需改这两行：
#   ST-Link    : source [find interface/stlink.cfg]    + transport select hla_swd
#   CMSIS-DAP  : source [find interface/cmsis-dap.cfg]  + transport select swd
#   J-Link     : source [find interface/jlink.cfg]      + transport select swd
source [find interface/cmsis-dap.cfg]
transport select swd
adapter speed 1000

# ----- Target MCU -----
source [find target/stm32f1x.cfg]

# ----- Reset config -----
# reset_config none = 软件复位(SYSRESETREQ)，不需要接 nRESET 硬件线
# 如果你的 CMSIS-DAP 接了 reset 线，可改为: reset_config srst_only srst_nogate
reset_config none
